* {
    background-color: black
}
#solucao{
    background-color: black

}
h1 {
    background: #ff9;
    color: #00f;
    text-decoration: underline;
}
text-center {
    background: #ff9;
    color: #00f;
    text-decoration: underline;
}