@model IEnumerable<Base_Conhecimento.Solucao>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/estilo.css" />
</head>


<body>

    <div class="text-center">
        <h1 class="display-4">Base de Conhecimento</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div class="container" id="solucao">

        <table class="table" align="center">

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.solucaoID) - @Html.DisplayFor(modelItem => item.titulo)
                            @Html.Raw(item.descricao)
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>