@model Base_Conhecimento.Usuario

@{
    ViewData["Title"] = "Index";
}

<body>

    <div class="col-md-10 mx-auto py-4" class="formulario">

        <div class="card">

            <div class="card-header bg-primary text-uppercase text-white">
                <h4>Para continuar, faça o Login </h4>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Avancar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="usuarioID" class="control-label"></label>
                                <input asp-for="usuarioID" class="form-control" required/>
                                <span asp-validation-for="usuarioID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-action="Login" type="submit" value="Próximo" />
                    </div>
                    <div class="form-group">
                        <input asp-action="Index" asp-controller="Home" type="submit" value="Voltar" />
                    </div>

                </form>
            </div>
</body>