
#solucao {
    background-color: white;
    border-radius: 10px;
    position: initial;
    text-align: left;
    margin-bottom: 1.5em;
    line-height: 180%;
}

body {
    background: #e9f5fe;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: #8A8A8A;
}

h1 {
    font-family: 'Lato', 'Times New Roman';
    text-align: left;
    color: #030e45;
    font-weight: bolder;
}
