
#solucao {
    background-color: white;
   
    border-radius: 10px;
    position: initial;
    text-align:left;
  
    
}

body {
    
    padding: 0px;
    background: #edf1f3;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #8A8A8A;
}