@model IEnumerable<Base_Conhecimento.Solucao>

@{
    ViewData["Title"] = "Solução Encontrada";

}

<h1>Solução Encontrada</h1>

<table class="table" align="center">
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.solucaoID)
            @Html.Raw(item.descricao)
            @Html.ActionLink("Ver solução completa", "Solucao", new { sol = item.solucaoID }, new { @class = "label label-warning" })
            <hr />
        </li>

    }

</table>
<div class="form-group">
    <input asp-action="Index" type="submit" value="Voltar" />
</div>