@model IEnumerable<Base_Conhecimento.Solucao>

@{
    ViewData["Title"] = "Soluões Encontradas";

}

<h3>Soluções Encontradas</h3>


    @foreach (var item in Model)
    {
    <ul>
        <li>
            Solução @Html.DisplayFor(modelItem => item.solucaoID)
            @Html.Raw(item.descricao)
            @Html.ActionLink("Ver solução completa", "Solucao", new { sol = item.solucaoID }, new { @class = "label label-warning" })
            <hr />
        </li>
    </ul>

    }

<div class="form-group">
    <input class="btn btn-outline-primary btn-sm" asp-action="Index" asp-controller="Consulta" type="submit" value="Voltar" />
</div>